 langchain
 ipykernel
 python-dotenv
 langchain_community
 pypdf
 bs4
 arxiv
 pymupdf
 wikipedia
 langchain-text-splitters
langchain-openai
sentence-transformers
langchain_huggingface
chromadb
faiss-cpu